.btn {
  border-radius: 2px;
}

.btn-primary {
  background-color: $primary;
  border          : 1px solid $primary;
  color           : $white;
}

.btn-primary:hover {
  background     : $primaryDarken;
  border         : 1px solid $primaryDark;
  text-decoration: none;
  color          : $white;
}

.btn-secondary {
  background-color: $secondary;
  border          : 1px solid $secondary;
  color           : $white;
}

.btn-secondary:hover {
  background     : $secondaryDarken;
  border         : 1px solid $secondaryDark;
  text-decoration: none;
  color          : $white;
}

.btn-warning {
  background-color: $warning;
  border          : 1px solid $warningDarken;
  color           : $white;
}

.btn-warning:hover {
  background     : $warningDarken;
  border         : 1px solid $warningDark;
  text-decoration: none;
  color          : $white;
}

.btn-danger {
  background-color: $danger;
  border          : 1px solid $danger;
  color           : $white;
}

.btn-danger:hover {
  background     : $dangerDarken;
  border         : 1px solid $dangerDarken;
  text-decoration: none;
  color          : $white;
}

.btn-info {
  background-color: $info;
  border          : 1px solid $info;
  color           : $white;
}

.btn-info:hover {
  background     : $infoDarken;
  border         : 1px solid $infoDarken;
  text-decoration: none;
  color          : $white;
}

.btn-success {
  background-color: $success;
  border          : 1px solid $success;
  color           : $white;
}

.btn-success:hover {
  background     : $successDarken;
  border         : 1px solid $successDarken;
  text-decoration: none;
  color          : $white;
}

.btn-lg {
	line-height: 1.34;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-accent {
  background-color: $secondary;
  border          : 1px solid $secondaryDarken;
  color           : $white;
}

.btn-accent:hover {
  background     : $secondaryDarken;
  border         : 1px solid $secondaryDark;
  text-decoration: none;
  color          : $white;
}

.btn-accent-reversed {
  border          : 1px solid $secondary;
  color           : $secondary;
}

.btn-accent-reversed:hover {
  border         : 1px solid $secondaryDark;
  text-decoration: none;
  color          : $secondaryDark;
}