.label-primary {
	background-color: $primary;
}
.label-secondary {
	background-color: $secondary;
}
.label-danger {
	background-color: $danger;
}
.label-warning {
	background-color: $warning;
}
.label {
  font-weight: normal;
}